#game {
  width: 1000px;
  height: 500px;
  margin: 50px auto;
  background-color: #141;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
  font-family: Georgia, "Book Antiqua", serif;

  h1 {
    padding: 20px 5px;
    font-size: 50px;
    line-height: 50px;
    color: rgba(255,255,255, 0.7);
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
  }

  .stack {
    width: 200px;
    height: 275px;
    margin: 10px;
    position: relative;
    left: 0;
    top: 0;
    float: left;
    border: 1px solid rgba(0,0,0, 0.2);
    position: relative;
    top: 50px;
    background-color: rgba(0,0,0, 0.1);

    &.deck {
      left: 50px;
    }

    &.tableau,
    &.waste {
      left: 300px;
    }
  }
}
