@import 'variables';

.card {
  width:  $card_width;
  height: $card_height;

  position: absolute;
  left: 0;
  top: 0;

  font-weight: bold;

  -webkit-perspective: 1000px;
  -webkit-transition: left 750ms;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -moz-perspective: 1000px;
  -moz-transition: left 750ms;

  .faces {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #222;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1000ms;

    -moz-transform-style: preserve-3d;
    -moz-transition: all 1000ms;

    &.flipped {
      -webkit-transform: rotateY( 180deg );
    }

    .face {
      position: absolute;
      width: 100%;
      height: 100%;

      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
    }

    .back {
      background: #259 url(/assets/pattern_2.png);
    }

    .front {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );

      background-color: white;

      .details {
        font-size: $card_margin*4;
        padding: $card_margin/2;
        height: $card_margin*4;

        div {
          margin: 0 $card_margin/3;
        }
      }

      .inner {
        width: $card_width - (4*$card_margin);
        height: $card_height - (10*$card_margin);
        margin: 0 auto;
        border: 1px solid black;

        .suit,
        .face_value {
          font-size: $card_margin*7;
          line-height: $card_margin*7.5;
          margin: 0 auto 0;
          text-align: center;
        }
      }

      .header div {
        float: left;
      }

      .footer div {
        float: right;
      }

      &.heart,
      &.diamond {
        .suit,
        .face_value {
          color: $card_red;
        }

        .inner {
          border: 1px solid $card_red;
        }
      }
    }
  }
}
