@import 'variables';

#game {
  width: ($card_width + $stack_margin) *7.9;
  min-height: $card_height *5;
  margin: 50px auto;
  background-color: #141;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
  border: 1px solid rgba(255,255,255, 0.12);
  border-bottom: none;
  border-right: none;
  font-family: Georgia, "Book Antiqua", serif;

  h1 {
    padding: 20px 5px;
    font-size: 50px;
    line-height: 50px;
    color: rgba(255,255,255, 0.7);
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
  }


  .stacks {
    position: relative;

    .stack {
      position: relative;
      float: left;
      top: $stack_margin;
      margin-left: $stack_margin;

      width: $card_width;
      height: $card_height;
      border: 1px solid rgba(0,0,0, 0.2);
      background-color: rgba(0,0,0, 0.1);

      &.shadow {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      }
    }

    .top, .tableaus {
      margin: $stack_margin * 2;
    }

    .area {
      position: relative;
      float: left;
      left: $stack_margin;
      top: $stack_margin;
      height: $card_height + (2* $stack_margin);
      background-color: rgba(255,255,255, 0.05);

      border: 1px solid rgba(0,0,0, 0.2);

      p {
        font-size: $card_margin * 10;
        color: rgba(255,255,255, 0.1);
        text-align: center;
        margin-top: $stack_margin * 3;
      }

      &.resevoir {
        width: ($card_width + 2*$stack_margin) * 2 - 5;
      }

      &.foundations {
        left: $card_width + $stack_margin;
        width: ($card_width + $stack_margin) * 4 + 2* $stack_margin;
      }

      &.tableaus {
        width: ($card_width + $stack_margin) * 7 + 2* $stack_margin + 5;
      }
    }
  }
}
