<div id='content'>
  <h1>Wheeler Dealer</h1>
  <ul>
    <li><a href='/deal/step_1'>Step 1</a>
    <li><a href='/deal/step_2'>Step 2</a>
    <li><a href='/deal/step_3'>Step 3</a>
    <li><a href='/deal/step_4'>Step 4</a>
  </ul>
</div>
