<script class='template' type="text/html" name='Deck'>
  <div class='deck'></div>
</script>

<script class='template' type="text/html" name='Card'>
  <div class='card'>
    <div class='suit'>{{suit}}</div>
    <div class='face_value'>{{faceValue}}</div>
  </div>
</script>
