<script class='template' type="text/html" name='Deck'>
  <div class='deck pile'></div>
</script>

<script class='template' type="text/html" name='DiscardPile'>
  <div class='discard pile'></div>
</script>

<script class='template' type="text/html" name='Card'>
  <div class='card {{suit}}'>
    <div class='suit'>{{suitEntity}}</div>
    <div class='face_value'>{{faceValue}}</div>
  </div>
</script>
