<div id='game'>
  <h1>Dealing</h1>
  <div class='stacks'>
    <div class='top'>
      <div class='resevoir area'>
        <div class='deck stack'></div>
        <div class='waste stack'></div>
      </div>
      <div class='foundations area'>
        <div class='stack foundation'></div>
        <div class='stack foundation'></div>
        <div class='stack foundation'></div>
        <div class='stack foundation'></div>
      </div>
    </div>
    <div class='tableaus area'>
      <div class='tableau stack'></div>
      <div class='tableau stack'></div>
      <div class='tableau stack'></div>
      <div class='tableau stack'></div>
      <div class='tableau stack'></div>
      <div class='tableau stack'></div>
      <div class='tableau stack'></div>
    </div>
  </div>
</div>

<script class='template' type="text/html" name='Step4.Views.Card'>
  <div class='card'>
    <div class='faces'>
      <div class='front face {{suit}}'>
        <div class='header details'>
          <div class='face_value'>{{faceValue}}</div>
          <div class='suit'>{{suitEntity}}</div>
        </div>
        <div class='inner'>
          <div class='face_value'>{{faceValue}}</div>
          <div class='suit'>{{suitEntity}}</div>
        </div>
        <div class='footer details'>
          <div class='face_value'>{{faceValue}}</div>
          <div class='suit'>{{suitEntity}}</div>
        </div>
      </div>
      <div class='back face'></div>
    </div>
  </div>
</script>

