<!DOCTYPE html>
<html>
<head>
  <title>Clean &amp; Simple Dealer</title>
  <%= stylesheet_link_tag    "/assets/step_2/application", :media => "all" %>
  <%= javascript_include_tag "/assets/step_2/base" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

