<!DOCTYPE html>
<html>
<head>
  <title>Simple Dealer</title>
  <%= stylesheet_link_tag    "/assets/step_1/application", :media => "all" %>
  <%= javascript_include_tag "/assets/step_1/base" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
